table {
  position: relative;
}

.box {
  padding: 10px 0 20px 0;
  border: 1px solid gray;
  border-radius: 4px;
  border-bottom: none;
}

.table-container {
  overflow-y: auto;
  overflow-x: hidden;
}
